APP_TITLE=Cat Charity
DATABASE_URL=sqlite+aiosqlite:///./cat_charity.db
SECRET=veryverysecret

TYPE=тип аккаунта
PROJECT_ID=id проекта
PRIVATE_KEY_ID=id приватного ключа
PRIVATE_KEY=приватный ключ
CLIENT_EMAIL=email сервисного аккаунта
CLIENT_ID=id сервисного аккаунта
AUTH_URI=https://accounts.google.com/o/oauth2/auth
TOKEN_URI=https://oauth2.googleapis.com/token
AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
CLIENT_X509_CERT_URL=url
EMAIL=email
